# -----------------------------
# Środowisko Python i ML
# -----------------------------
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# -----------------------------
# Wyniki, Modele i Artefakty 
# -----------------------------
backend/out/
*.pth
*.pt
*.npy
*.npz

# Ignoruj zawartość folderu z danymi, ale zostaw sam folder w Git
raw_dataset/*
!raw_dataset/readme.md

# -----------------------------
# Środowisko Frontend (React/Node)
# -----------------------------
node_modules/
dist/
build/
.env.local

# -----------------------------
# IDE i System operacyjny
# -----------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db